
			
@import "iconos.styl"



$naranja = #dd8704
$gris = #bbc0ac
$verde = #435820
$cafe = #736841
$amarillo = #f6ef95

.orange
	background $naranja
.brown
	background $cafe	
.green
	background $verde
.yellow
	background $amarillo

*:focus
	outline 0

.jspArrowDown, .mCSB_buttonDown
	background-image url('../img/flecha_down.gif') !important
	background-position 50% 50% !important
	background-repeat no-repeat
	background #cfc8c0
	width 10px

.jspArrowUp, .mCSB_buttonUp
	background-image url('../img/flecha_up.gif') !important
	background-position 50% 50% !important
	background-repeat no-repeat
	background #cfc8c0
	width 10px
body
	background #f0efed
	color #333
	font-family: 'Muli', sans-serif;
	font-size 14px
	height 100%
	margin 0
	overflow-y scroll
	padding 0
	position relative
	
	/*background-attachment fixed
	background-color transparent
	background-position center  center
	background-repeat no-repeat, no-repeat 
	background-size cover

.bgid-108,.bgid-101
	background-image  url('../img/banner.jpg')*/

img.ac_bgimage
	position fixed
	left 0px
	top 0px
	width 100%
	display none
	z-index 0


.ac_loading
	position fixed
	top 90px
	right 10px
	background #000 url('../img/loader.gif') no-repeat center center
	width 50px
	height 50px
	-moz-border-radius 10px
	-webkit-border-radius 10px
	border-radius 10px 10px 10px 10px
	z-index 999
	opacity 0.7
	display none



#main_header
	background rgba(53,86,15,0.7)
	opacity 1
	color #fff
	display block
	height 72px
	position relative

	a 
		color #fff

	#logo
		position absolute
		padding 1em
		z-index 2
		top 0
		left 20px
		background rgba(255,255,255,0.8)
		-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
		-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
		box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
	#btn_nav
		display none
	#menu
		margin-left 265px
		padding-top 5px
		font-family 'neogothis_adf_stdregular', sans-serif
		font-size 15px 
		//font-weight light
		display block

		ul 
			list-style-type none
			margin 0
			padding 0 0 0 25px

			li 
				display inline-block
				vertical-align top
				margin-right 2em
				
				

				span, a 
					color #fff
					display block
					font-size 12px
					text-decoration none
					cursor pointer

					span.icon
						display block
						font-size 2.5em !important
						margin-bottom .2em
						opacity .5
						text-align center

				.border-item
					display none
					height 5px
					margin 5px auto 0
					width 100%
			li:hover .border-item
				display block
			
			
				/*li > span, li > a
				text-decoration none
				color hsla( 0, 0%, 100%, 0)
				display block
				position relative
				padding-left 73px
				padding-top 28px
				padding-bottom 26px
				background-repeat: no-repeat
				-webkit-transition-property width color
				-moz-transition-property width color
				-ms-transition-property width color
				-o-transition-property width color
				transition-property width color
				-webkit-transition-duration 0.5s
				-moz-transition-duration 0.5s
				-ms-transition-duration 0.5s
				-o-transition-duration 0.5s
				transition-duration 0.5s
				cursor pointer
				width 95px
				overflow hidden*/

				/*.icon-stack,.icon-user,.icon-images,.icon-cog,.icon-phone
					font-size 2em
					display block
					width 32px
					height 32px
					position absolute
					left 31px
					top 22px
					opacity 1
					color #FFF*/
			
			/*li > span:hover, li > a:hover
				opacity 1
				color $naranja
				//width 150px
				*/
				
			.active .border-item, .active .border-item
				display block

				/*.icon-stack,.icon-user,.icon-images,.icon-cog,.icon-phone
					color $naranja*/

	.info-contacto
		font-family: 'neogothis_adf_stdregular', sans-serif;
		color $verde
		position absolute
		right 175px
		top 5px
		font-size 12px
		font-weight bold
		text-align center
		padding .7em
		background rgba(255,255,255,0.8)
		-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
		-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
		box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
		border 4px dotted $naranja;
		.icon-loma
			background url('../img/icon-loma.png') 0 0 no-repeat
		strong 
			color $naranja
			font-size 14px
	.idiomas
		position absolute
		right 20px
		top 45px
		font-size 12px
		//font normal 12px Georgia,serif

		a 
			background url('../img/icono_circulo_blanco.png') 0 0 no-repeat
			padding-left 26px
			padding-bottom 5px
			padding-top 3px

	#contactbox

		.column1, .column2
			display inline-block
			vertical-align top
			width 45%
		.column1
			margin-right 40px
		h1
			
			//font normal 35px  Georgia,serif
			font-family: 'neogothis_adf_stdregular', sans-serif;
			font-size 35px

			color $verde
			margin 30px 0 20px 20px
			text-transform uppercase

		.form-item:after 
				clear both
			.form-item:before, .form-item:after 
				content ""
				display table
			.form-item
				margin-top 5px
				zoom: 1
			
			
				
				
				label
					font-size 14px
					color #333
					width 70px
					float left
					display block
					text-align right
					margin-right 10px
					padding-top 10px
				.error
					color red
					float right

				.form-text
					border-top none
					border-left none
					border-right none
					border 1px solid #b2b1af
					padding 10px 0 8px 0
					font-size 15px
					color #999
					background none
					width 200px
					display block
					float left
				.form-text:hover, .form-text:focus, textarea:hover, textarea:focus
					background #f9f5f1
					border-color #dd841d
				textarea
					border-top none
					border-left none
					border-right none
					border 1px solid #b2b1af
					padding 10px 0 8px 0
					font-size 15px
					color #999
					background none
					width 200px
					height 47px
					display block
					float left
					resize none

			.buttons
				width 290px
				margin-top 10px

				button,input[type="submit"]
					background url('../img/icono_circulo_blanco.png') 10px 10px no-repeat  $naranja
					border none
					clear both
					color white
					cursor pointer
					float right
					font-size 12px
					height 40px
					margin-right 4px
					width 117px
					text-transform uppercas

		

		.mensaje
				
			span
				border-radius 5px
				padding 0.5em
				width 85%
			.ok
				background $verde
				border 1px solid #d6e9c6
			.error
				background red
				border 1px solid #eed3d7

		#dialog
			border-bottom 5px solid $lima
			left 520px
			width 300px


			h1
				color $lima

			.close
				background $verde

		.window
			background white
			display none
			padding 20px
			position fixed
			top 73px
			z-index 9999
			-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)

			.close
				color white
				padding 24px 6px 6px 6px
				position absolute
				right 10px
				text-decoration none
				top 0px

#main 
	position relative

	#menu_proyecto
		position absolute
		top 122px
		left 40px
		z-index 1
		display none
		
		

		ul
			margin 0
			padding 0

			li 
				
				//border-bottom 1px solid #d7d1c4 
				
				margin-bottom 1em
				

				a
					display block
					text-transform uppercase
					font-family 'neogothis_adf_stdbold', sans-serif// 'neogothis_adf_stdbold', sans-serif
					font-size 18px
					//font-weight bold
					text-align center
					padding .5em
					color #000
					text-decoration none
					cursor pointer
					background #f9f5f1
					border-radius 10px
					-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
					-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
					box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
					background-image -webkit-linear-gradient(top, #f9f5f1 50%, $amarillo 100%)
					background-image -o-linear-gradient(top, #f9f5f1 50%, $amarillo 100%)
					background-image linear-gradient(to bottom, #f9f5f1 50%, $amarillo 100%)

					span 
						display block
						font-size 14px 
						font-family 'Muli', sans-serif
						//font-style italic
						font-weight normal
						text-transform none
				a:hover, a.on
					background $naranja
					background-image -webkit-linear-gradient(top, #fb9114, #c1700b)
					background-image -o-linear-gradient(top, #fb9114, #c1700b)
					background-image linear-gradient(to bottom, #fb9114, #c1700b)
					color #fff
					text-shadow 0 2px 0 rgba(0, 0, 0, 0.5)
				
					
					
					


	#slider
		
		.slide
			overflow hidden
			position relative
		
		.cir_banner
			position fixed
			top 15%
			left 100%
			background url('../img/bg_anuncio.png') right 0 no-repeat
			width 315px
			height 96px
			//padding 35px 20px 30px 22px
			color #fff
			//text-align center
			text-decoration none
			z-index 20
			-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			border-radius 10px
			-moz-border-radius 10px
			-webkit-border-radius 10px

			span
				display block
			.h1
				font-family 'neogothis_adf_stdbold', sans-serif
				font-size 40px
				text-transform uppercase
				text-shadow 0 2px 0 rgba(0, 0, 0, 0.5)
				float right
				margin-top -15px
			.h2
				font-family 'neogothis_adf_stdregular', sans-serif
				font-size 16px
				color $amarillo
				
				//padding-bottom 9px
				//margin 14px 0 9px 0
				text-transform uppercase
			.h3
				font-family 'Muli', sans-serif
				text-transform uppercase
				color $amarillo
				font-size 12px
			.p 
				font-family 'neogothis_adf_stdbold', sans-serif
				font-size 24px
				margin 0
				text-shadow 0 2px 0 rgba(0, 0, 0, 0.5)
				text-transform uppercase
			.slide-anuncio
				padding-bottom .5em
				padding-right 1.5em
				color #fff
			.texto-anuncio, .click-anuncio
				display inline-block
				vertical-align top
			.texto-anuncio
				width 195px
				margin-left 20px
				margin-top 25px
			.click-anuncio
				margin-left 10px
				margin-top 10px

				.icon-anuncio-click
					background url('../img/icon-anuncio-click.png') 0 0 no-repeat
					width 42px
					height 42px
					display block 
					position relative
					left 30px
					top 0px

		.anuncios-bottom
			position absolute
			right 0
			bottom 0

			.prima, .ahorro
				display inline-block
				vertical-align top 
				margin-right 10px 
				.big 
					font-size 44px
					position absolute
					font-weight bold
			.prima
				color $verde
				font-size 18px
				font-style italic

	.franja
		display block
		position absolute
		bottom 0
		left 0
		height 174px
		width 100%
		background url('../img/textura_franja.png') 50% 0 repeat
		text-align center
		color #fff

		h1
			
			font normal 55px Georgia,serif
			text-transform uppercase
			margin 0
			padding-top 15px
		
		.linea
			background $naranja
			height 5px
			margin 5px 0
		span
			display block
			font italic normal 15px Georgia,serif

	#ubicacion, #plano,#disenos
		zoom: 1

		.columna
			float left
			width 420px
			background  #fff
			-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			position relative
			z-index 1
			//padding-top 75px
			h1
				font-family 'neogothis_adf_stdregular', sans-serif
				font-size 50px
				color #333
				margin 110px 0 20px 20px
				//text-transform uppercase

			p, ul li 
				line-height 20px

			.inner 
				padding 20px 0 20px 20px

			.form-item:after 
				clear both
			.form-item:before, .form-item:after 
				content ""
				display table
			.form-item
				margin-top 5px
				zoom: 1
			
			
				
				
				label
					//font normal 14px Georgia,serif
					font-size 14px
					color #333
					width 130px
					float left
					display block
					text-align right
					margin-right 10px
					padding-top 10px

				.form-text
					border-top none
					border-left none
					border-right none
					border-bottom 1px solid #b2b1af
					padding 10px 0 8px 0
					//font normal 15px Georgia,serif
					font-size 15px
					color #999
					background none
					width 220px
					display block
					float left
				.form-text:hover, .form-text:focus, textarea:hover, textarea:focus
					background #f9f5f1
					border-color #dd841d
				textarea
					border-top none
					border-left none
					border-right none
					border-bottom 1px solid #b2b1af
					padding 10px 0 8px 0
					//font normal 15px Georgia,serif
					font-size 15px
					color #999
					background none
					width 220px
					height 100px
					display block
					float left
					resize none

			.buttons
				width 360px
				margin-top 10px

				button,input[type="submit"]
					background url('../img/icono_circulo_blanco.png') 10px 10px no-repeat  $naranja
					border none
					clear both
					color white
					cursor pointer
					float right
					font-size 12px
					height 40px
					margin-right 4px
					width 117px
					text-transform uppercase

			.marca
				background url('../img/marca.png') center center no-repeat
				color #fff
				font italic normal 12px Georgia,serif
				width 290px
				height 235px
				padding 0 45px
				margin-top 20px
			.marca2
				background url('../img/marca2.png') center center no-repeat
				color #fff
				font italic normal 12px Georgia,serif
				width 290px
				height 235px
				padding 0 45px
				margin-top 20px
				


		.plan
			float left

			.info-top
				background url('../img/textura_franja.png') 50% 0 repeat
				//height 50px
				color #fff

				a 
					color #fff

				
				h2
					padding 0.6em
					//padding-left 1em
					margin 0
					font-family 'neogothis_adf_stdlight', sans-serif
					font-size 18px
	#plano
		p 
			font-family 'Muli', sans-serif
			font-size 18px

		.info-lotes
			background #fff
			padding 1em
			width 320px
			-moz-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			-webkit-box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)
			box-shadow 0 5px 5px rgba(0,0,0,0.5),0 0 5px rgba(0,0,0,0.5),inset 0 0 1px 1px rgba(255,255,255,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 2px rgba(0,0,0,0.05)

			h3
				margin-top 0
				font-family 'Muli', sans-serif
				font-size 24px
			span
				display block
				font-family 'Muli', sans-serif
				font-size 18px
		#mapa 
			position relative

			.contenido-invisible
				height 600px
			.overlay-proyecto
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				background-color rgba(0, 0, 0, 0.7)
				z-index 1
				color white
				display none
				overflow hidden

				.close
					color #fff
					text-decoration none 
					display block
					background url('../img/icono_circulo_blanco.png') 3px 3px no-repeat
					padding-left 26px
					padding-right 5px
					padding-bottom 5px
					padding-top 5px
					float right
					border 1px solid #FFF
					margin-right 10px
					margin-top 10px

			.mapa-proyecto
				//background url('../img/plano.jpg') 0 0 no-repeat
				background #FFF
				width 100%
				height 100%	
				

				.lote
					display block
					cursor pointer
					position absolute

					.info-item
						display none
				
				#lote-1
					//background url('../img/lote.png') 0 0 no-repeat
					width 120px
					height 100px
					top 161px
					left 268px

				#lote-2
					//background url('../img/lote2.png') 0 0 no-repeat
					width 120px
					height 112px
					top 151px
					left 178px
				
				/*#lote-1:hover
					background-position bottom center
				#lote-2:hover
					background-position 0 -126px*/
			
			.details-item
				//margin 20px auto 
				text-align center
				//position absolute
				//top 100px
				//right 0px
				//z-index 3
				.image-item
					position relative
					width 710px
					margin 20px auto

					#prev
						position absolute
						left -110px
						top 200px
						background url('../img/icono_prev.png') 0 0 no-repeat
						display block
						padding 3px 24px
						color #fff
						text-decoration none
					#next
						position absolute
						right -110px
						top 200px
						background url('../img/icono_next.png') 0 0 no-repeat
						display block
						padding 3px 24px
						color #fff
						text-decoration none
						
					#slideshow-nav
						left 50%
						margin-left -470px
						margin-top 389px
						position absolute
						text-align right
						width 940px
						z-index 50


						a
							background url("../img/heroes-nav.png") no-repeat scroll left top transparent
							display inline-block
							height 12px
							overflow hidden
							text-indent 999px
							width 12px

						a.activeSlide
							background-position right top
				  
					#slideshow
						height 315px
						margin 0 auto
						width 100%


						.slide
							background-position center top
							background-repeat no-repeat
							height 100%
							text-align center
							width 100%

				.detail-info
					background-color rgba(0, 0, 0, 0.7)
					//margin-top 20px
				.panel
					display inline-block
					vertical-align top
					text-align left
					margin-right 10px

					h3 
						color $naranja
						font-family 'neogothis_adf_stdregular', sans-serif
						font-size 18px
					ul li
						font-family 'neogothis_adf_stdregular', sans-serif
						font-size 14px
	#disenos 
		#mapa
			position relative
			margin-top 20px
			.cycle-slideshow

				.slide-diseno
					width 900px
					height 500px

					img 
						width 100%
						height 100%

			.cycle-pager
				text-align center
				margin-top 20px
				
				div 
					display inline-block
					vertical-align top
					border 5px solid $verde
					margin 1em
					width 100px 
					height 100px	

					img 
						width 100%
						height 100%

								
		


#main_footer 
	position relative
	background rgba(129, 112, 59, .7)

	height 46px
	overflow hidden
	display block
	clear both
	z-index 2

	#copyright
		float right
		margin-right 11px
		margin-top 11px
		position relative
		color #fff
		font-family 'Muli', sans-serif
		font-size 12px
	#menu-footer
		float left
		padding-top 15px
		font-family 'neogothis_adf_stdregular', sans-serif
		font-size 16px 
		//font-weight light
		display block
		//text-align center

		ul 
			list-style-type none
			margin 0
			padding 0 0 0 25px

			li 
				display inline-block
				vertical-align top
				margin-right 1em
				
				

				span, a 
					color #fff
					display block
					font-size 14px
					text-decoration none
					cursor pointer

				
				a:hover, span:hover
					color $amarillo
	#redes
		display block
		float left
		margin-top 7px
		//position absolute
		//left 12px
		//top 8px
		font-size 15px
		font-family 'neogothis_adf_stdlight', sans-serif
		color #fff

		.label
			float left
			padding-right 3px
			padding-top 5px

		a 
			display inline-block
			vertical-align top
			margin-left: 5px;
			background $naranja
			color #fff
			text-decoration none
			padding .5em
		#planea
			background #f9f5f1
			width 32px
			height 18px
			padding-top 5px
			padding-bottom 10px

			img 
				width 100%



@import "responsive.styl"
@import "mCustomScrollbar.styl"
					

