@media only screen and (max-width:  1030px)
	#main_header
		height 62px
		#logo
			img 
				height 62px
		#menu
			ul 
				li 
					a, span 				
						padding-bottom 16px
						padding-top 20px

						.icon-stack,.icon-user,.icon-images,.icon-cog,.icon-phone
							top -5px
						

@media only screen and (max-width:  760px)
	#main_header
		#btn_nav
			position absolute
			top 5px
			right 5px
			padding 7px 10px 8px 30px
			background #666 url('../img/flecha_menu.png') 10px 50% no-repeat
			background-size 12px 9px
			display block
			cursor pointer
			font bold 12px Arial,sans-serif
		#menu 
			margin-left 0
			top 60px
			left 0
			width 100%
			position absolute
			z-index 20
			background #222
			display none

			ul 
				padding 0

				li 
					width 100%
					float none
					border-bottom 1px solid #666
					background-size 13px 12px


					a, span 
						padding 5px 5px 3px 30px
						background none
						color #FFF
						width auto

						.icon-stack,.icon-user,.icon-images,.icon-cog,.icon-phone
							font-size 1em
							top 0
							left -24px


					span:hover, a:hover
						width auto

				.active a, .active span
					width auto
					color $naranja
						
		.idiomas
			display none

		#contactbox
			#dialog
				left 5px
			.window
				top 200px
				

				

	#main
		#menu_proyecto
			ul
				li 

					a
						
						font-size 18px 
						padding .5em
						

						span 
							
							font-size 12px 
							
					/*a:hover
						background $naranja
						background-image -webkit-linear-gradient(top, #fb9114, #c1700b)
						background-image -o-linear-gradient(top, #fb9114, #c1700b)
						background-image linear-gradient(to bottom, #fb9114, #c1700b)
						color #fff
						text-shadow 0 2px 0 rgba(0, 0, 0, 0.5)*/

		.franja
			height 35px

			h1
				display none
			span
				display inline
				font-size 12px

		#ubicacion, #plano
			.columna
				float none

				.inner
					padding 10px
				
				h1
					font-size 38px
					line-height 38px
					margin 0 0 10px 0
				
				.form-item
					
					label
						float none
						margin-right 0
						text-align left
					.form-text
						border 1px solid #B2B1AF
						float none
						margin-top 5px
						padding 5px
						width 100%
						box-sizing border-box
						-moz-box-sizing border-box
						-webkit-box-sizing border-box
					textarea
						border 1px solid #B2B1AF
						float none
						margin-top 5px
						padding 5px
						width 100%
						-moz-box-sizing border-box
						-webkit-box-sizing border-box
						box-sizing border-box
				.buttons
					width auto

				.marca
					display none
			.plan
				float none

				.info-top
					height 50px

					h2
						font-size 18px
						padding-top .6em
		#plano
			.tuto, .marca2
				display none



 @media only screen and (max-width: 1366px)
	 #main #plano #mapa
		.details-item
					
			.image-item
				width 472px
				
				#prev
					top 150px
					
				#next
					top 150px

				img
					width 100%

			.panel
				ul li
					font-size 12px

/*@media only screen and (max-height:  800px)
	#main #plano #mapa
		.details-item
					
			.image-item
				width 472px
				
				#prev
					top 150px
					
				#next
					top 150px

				img
					width 100%

			.panel
				ul li
					font-size 12px*/
					

	